{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": [
		"react-app",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		// Allows for the parsing of modern ECMAScript features
		"ecmaVersion": 2020,
		// Allows for the use of imports
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"settings": {
		"react": {
			// Tells eslint-plugin-react to automatically detect the version of React to use
			"version": "detect"
		}
	},
	"rules": {
		"prettier/prettier": 1
	}
}
