# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
/release
/out

# VSCode Code counter output
.VSCodeCounter

# old files
/old

# electron-builder environments
# - CSC_NAME
# - CSC_KEY_PASSWORD
# - GITHUB_TOKEN
electron-builder.env

# certification files (cert.cer, cert.pfx, cert.pvk)
/cert

# webpack build files
/.webpack

# dotenv file
.env